body {
    font-family: sans-serif;
    color: rgb(112, 76, 212);
    background-image: linear-gradient(to right, white, rgb(215, 115, 215));
}
.link-nav:hover{
color: rgb(208, 224, 234);
background-color: rgb(77, 77, 197);
}

.social{
    margin: 30px;
}
.link-nav{
    box-shadow: 5px 0 2px 2px rgb(207, 143, 207);
    padding: 5px;
}
nav{
    display: flex;
    justify-content: space-around;
}
